<div class="container">
<app-employee
  *ngIf="showEmployee"
  (saved)="onSaved($event)"
  [employee]="selectedEmployee"
></app-employee>
<br />
<h2>
  Employee List
</h2>
<div>
  <button class="btn btn-primary" (click)="add()">Add</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">department</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of (employees$ | async)">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.department }}</td>
        <td>
            <div>
              <button class="btn btn-primary" (click)="edit(employee)">
                Edit
              </button>
              &nbsp;
              <button
                type="button"
                class="btn btn-secondary"
                (click)="delete(employee)"
              >
                Delete
              </button>
              </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
